<%= javascript_include_tag 'choicerobots', 'data-turbolinks-track' => true %>
<img src="/step/step2F.png"/ height="50" width="195">
<p><b><u>Select the robots:</u></b></p>
  <% if @teams != nil %>
    <%@teams.each do |team| %> 
      <% if Robot.find_by_team_id(team.id) != nil %>
        <%if @tabteams.index(team.id.to_s) != nil %>            
          <div><b> Robots of <%= team.name %></b></div>
          <% @tabrobots = Robot.where(team_id: team.id)%>
          <% @tabrobots.each do |robot| %>   
            <input type="checkbox" name="robot<%= robot.id %>" id="<%= robot.id %>"> <%= robot.name %><img src="/icons/medium<%=robot.id.to_s%>.png"/><br>
          <% end %> 
          <div>&nbsp;</div>
        <%else%>
          <div>&nbsp;</div>
        <%end%>
      <%end%> 
    <% end %>
  <%end%>
<a id="updatemapp" href<%= link_to "", :action => :updatemapp, remote: true%></a>