<!DOCTYPE html>
<html>
<head>
  <title>Default Title</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'layout/styles/layout.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body id="top">
  <div class="wrapper row1">
    <header id="header" class="clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><img class="imgTitleLogo" src= /stylesheets/images/default/logo.PNG > <a href="<%= home_path %>"> Default Title </a></h1>
      </div>
      <!-- ################################################################################################ -->
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <%=li_actif(members_path) %><a href="<%= home_path %>"> Home </a></li>
          <%=li_actif([coordinates_path,missions_path]) %><a class="drop" href="#">Follow a regatta</a>
          <ul>
            <%=li_actif(coordinates_path) %><a href="<%= members_path%>"> Real Time </a></li>
            <%=li_actif(missions_path) %><a href="<%= members_path%>"> Replay </a></li>
          </ul>
        </li>
        <%=li_actif([teams_path,members_path]) %><a class="drop" href="#">My Account </a>
        <ul>
          <%=li_actif(teams_path) %><a href="<%= members_path %>"> My Team </a></li>
          <%=li_actif(members_path) %><a href="<%= members_path %>"> My Own Information </a></li>
        </ul>
      </li>
      <%= li_actif(robots_path) %><a href="<%= contact_path%>"> Contact </a></li>
    </ul>
  </nav>
</header>
</div>

<!-- container body -->
<%= yield %>
<!-- END container body -->


</div>

<div class="wrapper row5">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">MYR Project 2015 developed by <a href="http://www.ensta-bretagne.eu/"  title="French Graduate and Post-graduate Engineering School and Research Institute based in Brest">ENSTA Bretagne</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ --> 
  </div>
</div>
</body>
</html>




