<!DOCTYPE html>
<!--
Template Name: Cortex
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html>
<body id="top">
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->

<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper bgded" style="background-image:url(<%= myBackGtroungImg %>);">

  <div id="announce" class="clear"> 
	<!-- ########################################################################################## -->
	<div class="one_third first"><a href="<%= home_path%>">
	  <div class="hexagon"><i class="icon-play-sign"></i>
		<p class="nospace"><strong><%= myRealTime %></strong><br><%= myRealTime_shortText %></p>
	  </div>
	  </a></div>
	<div class="one_third "><a href="#">
	  <div class="hexagon"><i class="icon-calendar"></i>
		<p class="nospace"><strong><%= myReplay %></strong><br><%= myReplay_shortText %></p>
	  </div>
	  </a></div>
	<!-- ########################################################################################## --> 
  </div>

</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main id="container" class="clear"> 
    <!-- container body --> 
    <!-- ########################################################################################## -->
    <div class="clear center">
      <div class="one_third first">
        <div class="boxedicon"><a href="<%= myENSTA_Bretagne_pach%>"><img class="imgSponsorLogo" src= <%= myENSTA_Bretagne_logo %> ></div>
        <h2 class="nospace push15 uppercase"><strong><%= myENSTA_Bretagne %></strong></h2></a>
        <p><%= myENSTA_Bretagne_shortText %></p>
      </div>
      <div class="one_third">
        <div class="boxedicon"><a href="<%= myWRSC_pach %>"><img class="imgSponsorLogo" src= <%= myWRSC_logo %> ></div>
        <h2 class="nospace push15 uppercase"><strong><%= myWRSC %></strong></h2></a>
        <p><%= myWRSC_shortText %></p>
      </div>
	  <div class="one_third">
        <div class="boxedicon"><a href="<%= myAland_pach%>"><img class="imgSponsorLogo" src= <%= myAland_logo %> ></div>
        <h2 class="nospace push15 uppercase"><strong><%= myAland %></strong></h2></a>
        <p><%= myAland_shortText %></p>
      </div>
    </div>
	
    <!-- ########################################################################################## --> 
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="one_half first">
      <h6 class="title">Lorem ipsum dolor</h6>
      <img class="imgl pad5 borderedbox" src="images/demo/100x100.gif" alt="">
      <p>Bastien et benoit</p>
    </div>
    <div class="one_quarter">
      <h6 class="title">Lorem ipsum dolor</h6>
      <address class="push30">
      Company Name<br>
      Street Name &amp; Number<br>
      Town<br>
      Postcode/Zip
      </address>
      <ul class="nospace">
        <li class="push10"><i class="icon-time"></i> Mon. - Fri. 9:00am - 7:00pm</li>
        <li class="push10"><i class="icon-phone"></i> +00 (123) 456 7890</li>
        <li><i class="icon-envelope-alt"></i> info@domain.com</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Lorem ipsum dolor</h6>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="icon-facebook"></i></a></li>
        <li><a class="faicon-pinterest" href="#"><i class="icon-pinterest"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="icon-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="icon-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="icon-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="icon-google-plus"></i></a></li>
        <li><a class="faicon-skype" href="#"><i class="icon-skype"></i></a></li>
        <li><a class="faicon-rss" href="#"><i class="icon-rss"></i></a></li>
        <li><a class="faicon-bitcoin" href="#"><i class="icon-bitcoin"></i></a></li>
        <li><a class="faicon-dropbox" href="#"><i class="icon-dropbox"></i></a></li>
        <li><a class="faicon-flickr" href="#"><i class="icon-flickr"></i></a></li>
        <li><a class="faicon-instagram" href="#"><i class="icon-instagram"></i></a></li>
        <li><a class="faicon-tumblr" href="#"><i class="icon-tumblr"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="icon-vk"></i></a></li>
        <li><a class="faicon-youtube" href="#"><i class="icon-youtube"></i></a></li>
      </ul>
    </div>
    <!-- ################################################################################################ --> 
  </footer>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->

</body>
</html>