<!DOCTYPE html>
<html>
<head>
	<%= javascript_include_tag 'real_time', 'data-turbolinks-track' => true %>
</head>
<body>
	<div id="above_the_map">
		<% missionsArray = getCurrentMission %>
		<% nbMissions = missionsArray.size %>
		<% if ( nbMissions > 0 ) %>
		<% if missionsArray.size > 1 %>
		<p>Cannot display multiple missions at a time</p>
		<p>Current missions are: 
			<select name="Select mission" id="dropdown">
				<option></option>
				<% for m in missionsArray %>
				<option value="<%= m.id %>"><%= m.name %></option>
				<% end %>
			</select>
		</p>
		<% else %>
		<% mission = missionsArray[0] %>
		<p>Current Mission is: <%= mission.name %></p>
		<p>Started at: <%=mission.start.to_s(:time)%> and ends at :<%=mission.end.to_s(:time)%>
			<% if mission.description != ""%>
			<p>Description: <%= mission.description %></p>
			<% end %>
		</p>
		<% end %>
		<% else %>
		<h1>No mission in progress currently.</h1>
		<p>Please come back later !</p>
		<% end %>

	</div>
		<div id="map_frame_container" style='width: 100%; height: 100%'>
			<div class="two_third first" style='height: 100%'>
				<div id="map-canvas" style='width: 100%; height: 80%;'></div>
			</div>
			<style>
			.gm-style img { max-width: none; }
			.gm-style label { width: auto; display: inline; }
			</style>
			<div class="one_third" style='height: 100%'>

				<button id="getNewCoordinates" type="button">Get coordinates</button> 

			</div>
		</div> 

</body>
</html>